body{
    background-color: darkblue;
}


.main-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 5vh auto;
    
}

.main-page-container h1{
    font-size: 30px;
    letter-spacing: 10px;
    text-align: center;
}

.game-blocks-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto 5vh auto;
}

.row-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0 5%;
}


.game-block{
    width: 10vw;
    height: 10vw;
    border: 5px solid black;
    margin: 20px 0;
    border-radius: 15px;
}

#green{
    background-color: limegreen;
}

#red {
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}


@media only screen and (max-width: 568px) {

    .mobile{
        flex-direction: column;
    }
    
    .game-block{
        
        width: 90px;
        height: 90px;
    }
}