@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

.main-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 12vh auto 0 auto;
    
}

.main-page-container h1{
    font-size: 35px;
    letter-spacing: 10px;
    text-align: center;
    color: #f7efb4;
}

.game-blocks-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10vh auto 0 auto;
}

.row-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 0 5%;
}


.game-block{
    width: 12vw;
    height: 12vw;
    border: 10px solid black;
    margin: 20px 0;
    border-radius: 40px;
}


@media screen and (max-width: 768px) {

    .mobile{
        flex-direction: column;
    }
    
    .game-block{
        
        width: 160px;
        height: 160px;
    }
}